.modal-dialog {
    width: 700px;
    height: 12500px;
}

.modal-content {
    /* 80% of window height */
    height: 80%;
    background-color: #BBD6EC;
}

.modal-header {
    background-color: #337AB7;
    padding: 16px 16px;
    color: #FFF;
    border-bottom: 2px dashed #337AB7;
}
